.port__about {
    background-color: var(--color-black);
    height: 30vh;
}

.port__about-header {
    padding-top: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.port__about-header h1 {
    font-family: var(--font-family);
    color: var(--color-light);
    font-size: 60px;
}

.port__about-content {
    font-family: var(--font-family);
    line-height: 2em;
    word-spacing: 1px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    
}