.port__links-container {
    margin-top: 1rem;
    background-color: var(--color-light);
    display: flex;
}

.port__links-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
}

.port__links-content_cv {
    border: solid 3px var(--color-plain);
    margin-right: 0.5rem;
    cursor: pointer
}

.port__links-content_cv a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--color-plain);
    font-size: 20px;
    padding: 0.5rem 1rem;
    margin-right: 0.6rem;

}

.github {
    margin-right: 1rem;
    height: 45px;
    padding-top: 0.25rem;
    color: var(--color-plain)
}

.linkedin {
    margin-right: 1rem;
    height: 45px;
    color: var(--color-plain)
}